db.sqlite3
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/settings.json
node_modules/
*.log
.DS_Store
temp_token.json
.mvn/
uisrooms-web/build/
archived/
uisrooms-web/.env
